* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.logo-image {
  position: absolute;
  width: 70px;
  height: 72.42px;
  left: 13px;
  top: 17px;
}

.logo a {
  font-family: Baloo;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
  position: absolute;
  width: 125px;
  height: 33px;
  left: 80px;
  top: 39px;
}

mark {
  color: #6B9C9C;
  background: none;
}

.myevents {
  position: absolute;
  width: 33px;
  height: 33.15px;
  left: 319px;
  top: 41px;
}

.events {
  position: absolute;
  top: 261px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.line {
  border-top: 2px solid #A49E9E;
  width: 200px;
  position: absolute;
  left: calc(50% - 155px);
  top: 435px;
}

.apply {
  position: absolute;
  width: 72px;
  height: 29px;
  left: 266px;
  top: 406px;
  background: rgba(255, 129, 41, 0.8);
  border-radius: 15px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.apply-1 {
  position: absolute;
  width: 43px;
  height: 20px;
  left: 278px;
  top: 410px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.rectangle-1 {
  position: absolute;
  width: 321px;
  height: 167px;
  z-index: -1;
  left: calc(50% - 160px);
  top: 460px;
  background: rgba(255, 129, 41, 0.46);
  border-radius: 15px;
}

.text-1 {
  position: absolute;
  width: 109px;
  height: 20px;
  left: 49px;
  top: 470px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.motivationalLetter input[type="text"] {
  position: absolute;
  width: 288px;
  height: 48px;
  left: 42px;
  top: 545px;
  background: rgba(255, 129, 41, 0.39);
  border: 1px solid rgba(255, 129, 41, 0.8);
  box-sizing: border-box;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  color: #544A4A;
  border-radius: 10px;
  padding-left: 10px;
}

input[type="submit"] {
  position: absolute;
  width: 50px;
  height: 18px;
  left: 50%;
  top: 609px;
  background: rgba(255, 129, 41, 0.8);
  border-radius: 15px;
  transform: matrix(1, 0, 0, -1, 0, 0);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  border: none;
}
