* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.logo-image {
  position: absolute;
  width: 70px;
  height: 72.42px;
  left: 13px;
  top: 17px;
}

.logo a {
  font-family: Baloo;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
  position: absolute;
  width: 125px;
  height: 33px;
  left: 80px;
  top: 39px;
}

mark {
  color: #6B9C9C;
  background: none;
}

.myevents {
  position: absolute;
  width: 33px;
  height: 33.15px;
  left: 319px;
  top: 41px;
}

.events {
  position: absolute;
  top: 261px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.line {
  border-top: 2px solid #A49E9E;
  width: 250px;
  position: absolute;
  left: calc(50% - 155px);
  top: 435px;
}

.apply {
  position: absolute;
  top: 675px;
  width: 71px;
  height: 29px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #FF8F40;
  border-radius: 15px;
}

.apply-1 {
  position: absolute;
  top: 675px;
  width: 290px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.rectangle-1 {
  position: absolute;
  width: 321px;
  height: 62px;
  z-index: -1;
  left: calc(50% - 160px);
  top: 460px;
  background: #9DB8C3;
  border-radius: 15px;
}

.viewprofile {
  position: absolute;
  width: 87px;
  height: 18px;
  left: 253px;
  top: 496px;
  background: rgba(51, 108, 131, 0.9);
  border-radius: 15px;
}

.viewprofile-1 {
  position: absolute;
  width: 76px;
  height: 22px;
  left: 262px;
  top: 497.5px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.text-1 {
  position: absolute;
  width: 109px;
  height: 20px;
  left: 49px;
  top: 470px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.rectangle-2 {
  position: absolute;
  width: 321px;
  height: 113px;
  z-index: -1;
  left: calc(50% - 160px);
  top: 533px;
  background: #9DB8C3;
  border-radius: 15px;
}

.text-2 {
  position: absolute;
  width: 121px;
  height: 20px;
  left: 49px;
  top: 550px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.text-3 {
  position: absolute;
  width: 145px;
  height: 20px;
  left: 49px;
  top: 575px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.text-4 {
  position: absolute;
  width: 109px;
  height: 20px;
  left: 49px;
  top: 600px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
