* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.logo-image {
  position: absolute;
  width: 70px;
  height: 72.42px;
  left: 13px;
  top: 17px;
}

.logo a {
  font-family: Baloo;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
  position: absolute;
  width: 125px;
  height: 33px;
  left: 80px;
  top: 39px;
}

mark {
  color: #6B9C9C;
  background: none;
}

.myevents {
  position: absolute;
  width: 33px;
  height: 33.15px;
  left: 319px;
  top: 41px;
}

.myevents-header {
  position: absolute;
  width: 200px;
  height: 38px;
  left: 5px;
  top: 128px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #000000;
}

.inprogress a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #A49E9E;
  text-decoration: none;
  position: absolute;
  width: 95px;
  height: 17px;
  left: 29px;
  top: 183px;
}

.upcoming a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #A49E9E;
  text-decoration: none;
  position: absolute;
  width: 133px;
  height: 34px;
  left: 121px;
  top: 183px;
}

.completed a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #6B9C9C;
  text-decoration: none;
  position: absolute;
  width: 101px;
  height: 17px;
  left: 245px;
  top: 183px;
}

.dot {
  height: 8px;
  width: 8px;
  background: #6B9C9C;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 293px;
  top: 212px;
}

.line {
  border-top: 2px solid #A49E9E;
  width: 321px;
  position: absolute;
  left: calc(50% - 160px);
  top: 232px;
}

.rectangle {
  position: absolute;
  width: 321px;
  height: 100px;
  left: calc(50% - 160px);
  top: 279px;
  background: #C1D5D5;
  border-radius: 15px;
}

.duration {
  position: absolute;
  width: 10.4px;
  height: 13px;
  left: calc(50% - 146px);
  top: 310px;
}

.role {
  position: absolute;
  width: 17px;
  height: 17px;
  left: calc(50% - 147px);
  top: 332px;
}

.location {
  position: absolute;
  width: 9px;
  height: 14px;
  left: calc(50% - 144px);
  top: 353px;
}

.review {
  position: absolute;
  width: 86px;
  height: 29px;
  left: 251px;
  top: 341px;
  background: #6B9C9C;
  border-radius: 15px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.review-1 {
  position: absolute;
  width: 43px;
  height: 20px;
  left: 258px;
  top: 345px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.review-2 {
  position: absolute;
  width: 43px;
  height: 20px;
  left: 320px;
  top: 347px;
}


.actname {
  position: absolute;
  width: 300px;
  height: 20px;
  left: calc(50% - 146px);
  top: 284px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: #000000;
}

.durationText {
  position: absolute;
  width: 200px;
  height: 20px;
  left: calc(50% - 130px);
  top: 310px;
  font-family: Montserrat;
  font-style: normal;
  text-align: left;
  color: #000000;
}

.roleText {
  position: absolute;
  width: 100px;
  height: 20px;
  left: calc(50% - 130px);
  top: 332px;
  font-family: Montserrat;
  font-style: normal;
  text-align: left;
  color: #000000;
}

.locationText {
  position: absolute;
  width: 43px;
  height: 20px;
  left: calc(50% - 130px);
  top: 353px;
  font-family: Montserrat;
  font-style: normal;
  text-align: left;
  color: #000000;
}
