* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.logo-image {
  position: absolute;
  width: 70px;
  height: 72.42px;
  left: 13px;
  top: 17px;
}

.logo a {
  font-family: Baloo;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
  position: absolute;
  width: 125px;
  height: 33px;
  left: 80px;
  top: 39px;
}

mark {
  color: #6B9C9C;
  background: none;
}

.myprofile {
  position: absolute;
  width: 33px;
  height: 33.15px;
  left: 319px;
  top: 41px;
}

.rectangle {
  position: absolute;
  width: 321px;
  height: 397px;
  left: calc(50% - 160px);
  top: 139px;
  background: #9DB8C3;
  border-radius: 15px;
}

.back {
  position: absolute;
  width: 20px;
  height: 17.15px;
  left: 44px;
  top: 152px;
}

.edit {
  position: absolute;
  width: 61px;
  height: 29px;
  left: 279px;
  top: 148px;
  background: rgba(51, 108, 131, 0.9);
  border-radius: 15px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.edit-1 {
  position: absolute;
  width: 43px;
  height: 20px;
  left: 287px;
  top: 152px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.profile-pic {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 110px;
  top: 153px;
}

.line {
  border-top: 2px solid #A49E9E;
  width: 200px;
  position: absolute;
  left: calc(50% - 100px);
  top: 360px;
}

.profile-icon-1 {
  position: absolute;
  width: 20px;
  height: 23.08px;
  left: 58px;
  top: 397px;
}

.profile-icon-2 {
  position: absolute;
  width: 20px;
  height: 8.23px;
  left: 61px;
  top: 444.26px;
}

.profile-icon-3 {
  position: absolute;
  width: 30.56px;
  height: 37.84px;
  left: 65px;
  top: 486px;
}
